.WhoWeAre-content{
	background: #18BC9C;
	color: #fff;
	padding: 30px;
	text-align: center;
}

.WhoWeAre-information{
	padding-bottom: 20px;
}

.WhoWeAre-title{
	font-size: 38px;
}

.WhoWeAre-text-color{
	color: #2C3E50;
}

